<div class="container d-flex justify-content-center">
  <div class="col-md-6">
    <%= simple_form_for(@user, url: user_registration_path, html: { class: "needs-validation", novalidate: true }) do |f| %>
      <h1 class="mb-4 text-center">Sign Up</h1>
      <div class="mb-3">
        <%= f.input :name,
                    input_html: { class: "form-control", placeholder: "Enter your name" },
                    label_html: { class: "form-label" } %>
      </div>

      <div class="mb-3">
        <%= f.input :email,
                    input_html: { class: "form-control", placeholder: "Enter your email" },
                    label_html: { class: "form-label" } %>
      </div>

      <div class="mb-3">
        <%= f.input :password,
                    input_html: { class: "form-control", minlength: 6, placeholder: "Enter your password" },
                    label_html: { class: "form-label" } %>
      </div>

      <div class="mb-3">
        <%= f.input :password_confirmation,
                    input_html: { class: "form-control", placeholder: "Confirm your password" },
                    label_html: { class: "form-label" } %>
      </div>

      <div class="mb-3 text-center"> <!-- Center the button -->
        <%= f.button :submit, "Sign up", class: "btn btn-primary btn-custom border-0" %>
      </div>
    <% end %>
  </div>
</div>
