<p style="color: green"><%= notice %></p>

<% content_for :title, "Carts" %>

<h1 class="my-4">Carts</h1>

<div id="carts">
  <% @carts.each do |cart| %>
    <%= render cart %>
    <p>
      <%= link_to "Show this cart", cart %>
    </p>
  <% end %>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td>
          <%= link_to 'Show', cart, class: "btn btn-sm btn-primary" %>
          <%= link_to 'Edit', edit_cart_path(cart), class: "btn btn-sm btn-warning" %>
          <%= link_to 'Delete', cart, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<tr>

<%= link_to "New cart", new_cart_path, class: "btn btn-success" %>
