<p style="color: green"><%= notice %></p>

<div class="text-end my-4">
  <%= link_to 'Keep Shopping', instruments_path, class: 'btn btn-warning btn-custom border-0' %>
</div>

<hr />

<section class=" mt-4">

    <%= render @cart.line_items, cart: @cart %>

    <div class="row mb-3">
      <div class="col">
        <%= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
      </div>
      <div class="col text-end mb-2">
        <h4 class="fw-bold">
          <span class="text-muted">Total:</span> <%= number_to_currency(@cart.total_price) %>
        </h4>
      </div>
    </div>
  <%= form_with url: cart_path(@cart), method: :patch, local: true do %>
    <div class="row text-end mt-2">
      <div class="col">
      <% if all_items_have_dates?(@cart) %>
        <% if user_signed_in? %>
          <%= submit_tag "Book now", class: "btn btn-success" %>
        <% else %>
          <%= link_to "Book now", new_user_session_path, class: "btn btn-success" %>
        <% end %>
      <% else %>
          <p class="text-danger">Please fill in the rental start and end dates for all items to proceed.</p>
      <% end %>
      </div>
    </div>
  <% end %>
    </div>
  </div>
</section>