<p style="color: green"><%= notice %></p>

<div class="text-end my-4">
  <%= link_to 'Keep Shopping', instruments_path, class: 'btn btn-warning' %>
</div>

<hr />

<section class="mt-4">
  <%= render(@cart.line_items) %>

  <div class="row">
    <div class="col">
      <%= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
    </div>
    <div class="col text-end">
      <h4 class="fw-bold">
        <span class="text-muted">Total:</span> <%= number_to_currency(@cart.total_price) %>
      </h4>
    </div>
  </div>
</section>