<div class="row justify-content-center mb-4 border p-3 rounded col-md-6">
  <div class="col-12">
    <div class="row">
      <div class="col-6">
        <strong>Total days:</strong>
        <%= line_item.total_days %>
      </div>
      <div class="col-6 text-end">
        <figure class="figure">
          <% if line_item.instrument.image.attached? %>
            <%= image_tag url_for(line_item.instrument.image),
                           class: "figure-img img-fluid",
                           alt: "Instrument image",
                           style: "max-width: 150px; max-height: 150px; width: auto; height: auto; object-fit: contain;" %>
          <% else %>
            <p>No image available</p>
          <% end %>
        </figure>
      </div>
    </div>
  </div>

  <div id="<%= dom_id line_item %>" class="col-12">
      <div class="row mb-2">
        <div class="col-12">
          <strong><%= line_item.instrument.name %></strong>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-6">
          <strong>Start date:</strong>
          <%= line_item.start_date %>
        </div>
        <div class="col-6 text-end">
          <strong>End date:</strong>
          <%= line_item.end_date %>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12 text-end">
          <strong class="h4"><%= number_to_currency(line_item.instrument.price_per_day) %></strong>
        </div>
      </div>
  </div>
</div>
<div class="text-end mb-4 mr-md-3 col-md-6">
  <%= link_to 'Remove Item', line_item, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
</div>

</hr>
