<div class="row justify-content-center mb-4 p-1 col-md-6">

  <div class="col-12">
    <div class="row">
      <div class="col-6 text-end">
        <figure class="figure">
          <% if line_item.instrument.image.attached? %>
            <%= image_tag url_for(line_item.instrument.image),
                           class: "figure-img img-fluid",
                           alt: "Instrument image",
                           style: "max-width: 150px; max-height: 150px; width: auto; height: auto; object-fit: contain;" %>
          <% else %>
            <%= link_to image_tag("default_image.jpg", size: "150x150", class: "card-img-top", style: "object-fit: contain;"), @instrument %>
          <% end %>
        </figure>
      </div>
    </div>
  </div>

  <div id="<%= dom_id line_item %>" class="col-12">
    <div class="row mb-2">
      <div class="col-12">
        <strong><%= line_item.instrument.name %></strong>
      </div>
      <div class="col-12">
        <p><strong>Owner:</strong> <%= line_item.instrument.user&.name %></p>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-12 text-end">
        <p>
          Price per day:
          <strong class="h4"> <%= number_to_currency(line_item.instrument.price_per_day) %></strong>
        </p>
      </div>
    </div>

    <div id="date-prompt" class="mb-3">
      <p class="<%= line_item.start_date.blank? || line_item.end_date.blank? ? 'text-danger' : 'text-muted' %>">
        <%= line_item.start_date.blank? || line_item.end_date.blank? ? 'Please choose below start and end dates for your rental:' : 'Start and end dates confirmed for rental:' %>
      </p>
    </div>

    <%= form_with model: line_item, method: :put, action: line_item_path, local: true do |form| %>
      <div class="row mb-2">
        <div class="col-6">
          <strong>Rental starts:</strong>
          <%= form.date_field(
                  :start_date,
                  value: line_item.start_date,
                  class: 'form-control',
                  required: true,
                  id: "start_date_#{line_item.id}",
                  min: Date.today
          ) %>
        </div>

        <div class="col-6 text-end">
          <strong>Rental ends:</strong>
          <%= form.date_field(
                    :end_date,
                    value: line_item.end_date,
                    class: 'form-control',
                    required: true,
                    id: "end_date_#{line_item.id}",
                    min: Date.today
          ) %>
        </div>
      </div>

      <div class="col-6">
        <strong>Total days:</strong>
        <span id="total_days_#{line_item.id}"><%= line_item.total_days %></span>
      </div>

      <div class="col-12 text-end">
        <%= form.hidden_field :cart, value: @cart.id, id: "cart-id-field" %>
        <%= form.submit "Save Dates", class: "btn btn-primary mt-2 btn-sm btn-custom border-0" %>
      </div>
    <% end %>

    <div class="row mt-4">
      <div class="col-12 text-end">
        <p>
          Total price for <%= line_item.total_days %> days:
          <strong class="h4"> <%= number_to_currency(line_item.total_price) %></strong>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="text-end mb-4 mr-md-3 col-md-6">
  <%= link_to 'Remove Item', line_item, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
</div>

<hr/ >
