<div id="<%= dom_id line_item %>">
  <p>
    <strong>Instrument:</strong>
    <%= line_item.instrument_id %>
  </p>

  <p>
    <strong>Cart:</strong>
    <%= line_item.cart_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= line_item.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= line_item.end_date %>
  </p>

  <p>
    <strong>Total days:</strong>
    <%= line_item.total_days %>
  </p>

</div>
