<div id="<%= dom_id instrument %>">
  <p>
    <strong>Name:</strong>
    <%= instrument.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= instrument.category %>
  </p>

  <p>
    <strong>Price per day:</strong>
    <%= instrument.price_per_day %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= instrument.available %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= instrument.condition %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= instrument.image %>
  </p>

</div>
