<div class="container mt-4">
  <div id="<%= dom_id instrument %>" class="card p-3">
  <h5 class="card-title">Instrument Details</h5>
  <p class="mb-1">
    <strong>Name:</strong>
    <%= instrument.name %>
  </p>

  <p class="mb-1">
    <strong>Category:</strong>
    <%= instrument.category %>
  </p>

   <p class="mb-1">
      <strong>Description:</strong>
      <%= instrument.category %>
    </p>

  <p class="mb-1">
    <strong>Price per day:</strong>
    <%= instrument.price_per_day %>
  </p>

  <p class="mb-1">
    <strong>Available:</strong>
    <%= instrument.available %>
  </p>

  <p class="mb-1">
    <strong>Condition:</strong>
    <%= instrument.condition %>
  </p>

</div>
