<% content_for :header do %>
<section class="hero is-warning">
  <% if flash[:notice] %>
    <p class="text-success color: green text-center mt-3"><%= flash[:notice] %></p>
  <% end %>
  <div class="hero-body">
    <% content_for :title, "Instruments" %>
    <div class="container">
      <h1 class="title">Browse the latest instruments on Music-Gear Hub</h1>
    </div>
  </div>
</section>
<% end %>

<div class="container mt-4">
  <div class="instrument-index-grid row">
    <% @instruments.each do |instrument| %>
      <div class="col-md-4 mb-4">
        <div class="card p-3 border-light">
          <div class="instrument-thumb mb-2 d-flex flex-row">
            <%= link_to image_tag(url_for(instrument.image), size: "150x150", class: "card-img-top", style: "object-fit: contain; "), instrument %>
          </div>
          <h5 class="card-title my-3">Item Details</h5>
          <p class="mb-1">
            <strong>Name:</strong>
            <%= instrument.name %>
          </p>

          <p class="mb-1">
            <strong>Category:</strong>
            <%= instrument.category %>
          </p>

          <p class="mb-1">
            <strong>Description:</strong>
            <%= instrument.description %>
          </p>

          <p class="mb-1">
            <strong>Price per day:</strong>
            <%= number_to_currency(instrument.price_per_day, unit: "$") %>
          </p>

          <p class="mb-1">
            <strong>Available:</strong>
            <%= instrument.available ? 'Yes' : 'No' %>
          </p>

          <p class="mb-1">
            <strong>Condition:</strong>
            <%= instrument.condition %>
          </p>

          <div class="d-flex mt-2 ">
            <%= link_to "Show", instrument, class: "btn btn-info btn-custom border-0 me-3" %>
            <% if user_signed_in? %>
              <%= link_to "Edit", edit_instrument_path(instrument), class: "btn btn-custom btn-warning border-0" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="d-flex mt-2 ">
    <% if user_signed_in? %>
      <%= link_to "New instrument", new_instrument_path, class: "btn btn-primary btn-custom border-0 mx-3 my-3" %>
    <% end %>
  </div>
</div>
